html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}



/* #canvasOutput {
    position:fixed;
    top:0px;
    left:0px;
} */




#opencv {
    position: fixed;
    top: 0px;
    left: 0px;
}

#media {
    position: fixed;
    top: 1400px;
    left: 0px;
}

#konva {
    position: fixed;
    top: 0px;
    left: 0px;
}

#videoInput {
    position: fixed;
    display: none;
}

#toolbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1280px;
    z-index: 999;
}

#opencv {
    position: fixed;
    top: 0px;
    left: 0px;
}

/* #container {
    position: fixed;
    top: 0px;
    left: 0px;
} */

button {
    width: 100px !important;
}

canvas {
    background: transparent;
    position: relative;
    /* top: 100px; */
    /* z-index: 2; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* mobile webkit */
}