html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}



/* #canvasOutput {
    position:fixed;
    top:0px;
    left:0px;
} */


#opencv{
    position:fixed;
    top:0px;
    left:0px;
}

#konva{
    position:fixed;
    top:0px;
    left:0px;
}

#videoInput {
    position: fixed;
    display: none;
}

#select_button {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

#draw_button {
    position: fixed;
    top: 0px;
    left: 100px;
    z-index: 2;
}

#save_button {
    position: fixed;
    top: 0px;
    left: 200px;
    z-index: 2;
}

#emit_button {
    position: fixed;
    top: 0px;
    left: 300px;
    z-index: 2;
}

#motion_button {
    position: fixed;
    top: 0px;
    left: 400px;
    z-index: 2;
}

#contour_button {
    position: fixed;
    top: 0px;
    left: 500px;
    z-index: 2;
}

/* #container {
    position: fixed;
    top: 0px;
    left: 0px;
} */


canvas {
    background: transparent;
    position: relative;
    /* top: 100px; */
    /* z-index: 2; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* mobile webkit */
}